<h1>Searching for - <%= @search_term %></h1>

<% if @recipes.nil? %>

	<p>No recipes found with relevant info... Sorry</p>

<% else %>

	<table border='1'>

		<% @recipes.each do |recipe| %>
			<tr>
				<td><%= link_to(image_tag(recipe["image_url"], height: '100', width: '100'), recipe["source_url"]) %></td>
				<td><%=link_to(sanitize(recipe["title"]), recipe["source_url"])%></td>
				<td><%= recipe["social_rank"] %></td>
			</tr>
		<% end %>
	</table>

<% end %>

<p style="color: #9c1628"><b>Note:</b> Use the parameter <i>search</i> to change the search parameter. Example: <span style="font-family: monospace"><%= request.original_url%>?search=chocolate</span></p>